extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Susanna Lettieri

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Here are my contributions thus far as a Full Stack JavaScript Developer. I have had extensive experience in 
            |remapping of the brain while working with the staff AT NYU and Nasa to cure and rehabililate my son who was diagnosed
            |with a rare pediatric brain tumor. As I progress as a developer, I am happy to incorporate these skills into
            |my projects. My strong desire to give back to humankind before I leave this earth fuels my zest for coding.
            |I do hope you enjoy viewing my portfolio, while, secure in the knowledge I am the right developer for your firm.
            |
            | 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li JavaScript
          li jQuery
          li HTML
          li CSS
          li JSON
          li Pug
          li Visual Studio
          li Achievements 110
          li GitHub 

        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-555-7777
          li susanna.lettieri@verizon.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com') LinkedIn
        a.button.expanded(href='https://github.com/Lettisu?tab=repositories') GitHub
        a.button.expanded(href='https://www.Facebook.com') Facebook
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  